{% extends "base.html" %}
{% load static %}

{% block title %}Homepage - La Scarpetta{% endblock %}

{% block css_files %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'pages/Homepage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Engagement&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<nav class="navbar" >
    <div class="menu left">
        <a href="#container1-1">Chi Siamo</a>
        <a href="#menu">Il Menù</a> <!-- Usa il routing di Django -->
    </div>
    <div class="logo">
        <a href="#starting">
        <img src="{% static 'pages/images/Logosvgcentrato(1).png' %}" alt="Logo La Scarpetta">
        </a></div>
    <div class="menu right">
        <a href="#contatti">Contattaci</a>
        <a href="{% url 'prenotazioni' %}">Prenota Ora</a>        </div>
    <!-- Icona del menu hamburger -->
    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Menu Mobile -->
    <div class="mobile-menu" id="mobile-menu">
        <a href="#container1-1">Chi Siamo</a>
        <a href="#menu">Il Menù</a> <!-- Usa il routing di Django -->
        <a href="#contattiMobile">Contattaci</a>
        <a href="{% url 'prenotazioni' %}">Prenota Ora</a></div>
</nav>

<!-- Banner centrale con immagini a scorrimento -->
<!-- Banner centrale con immagini a scorrimento -->
<div class="hero-banner"id="starting">
    <div class="slider-container">
        <!-- Le tue immagini dello slider -->
        <div class="slider-image">
            <img src="{% static 'pages/images/Sala-2.jpg' %}" alt="Immagine 1">
        </div>
        <div class="slider-image">
            <img src="{% static 'pages/images/Foto-7.jpg' %}" alt="Immagine 2">
        </div>
    </div>
    <!-- Overlay -->
    <div class="overlay">
        <div class="logo-container">
            <img src="{% static 'pages/images/LaScarpettaSVG_01_RevA (2) 2.png' %}" alt="Logo La Scarpetta" id="custom-logo">
        </div>
    </div>
</div>

<div class="container1" id="container1-1">
    <div class="text-container">
        <h1 id="scritta">La Scarpetta</h1>
        <p>
            Il nostro ristorante di cucina tipica toscana vi delizierà con piatti dal gusto semplice ma sorprendente. Qui, l'attenzione al cliente e la cura delle materie prime sono fondamentali, e potrete assaporarle in ogni portata.
            Situato nel centro di Firenze, il nostro locale è il luogo ideale per immergersi nelle tradizioni culinarie toscane. Il nostro chef seleziona ingredienti freschi e di alta qualità, privilegiando prodotti locali e di stagione.
            La nostra cucina offre ricette classiche arricchite da un tocco di creatività. Ogni piatto è preparato con passione.
            Se desiderate provare ottimi sapori e trascorrere una serata speciale, vi aspettiamo!
        </p>
        <p>Ci ispiriamo a quei momenti, ai cibi appena cotti ricchi di sapori, ai profumi e alla convivialità.</p>
    </div>
    <div class="image-container1">
        <img src="{% static 'pages/images/Osteria.png' %}" alt="Piatto di cibo">
    </div>
</div>

<div class="prenotazione"> <a href="{% url 'prenotazioni' %}">
    <button class="bottone-prenota">Prenota un Tavolo</button>

</a>
</div>

<!-- Sezione del Menù Gourmet -->
<div class="gourmet-section" id="menu">
    <h1 class="gourmet-title">Il nostro Menù</h1>

    <!-- Immagine del Menù -->
    {% if latest_image %}
        <div class="menu-frame">
            <img src="{{ latest_image.image.url }}" alt="Menù La Scarpetta" class="menu-photo">
        </div>
    {% endif %}
<!-- Form per caricare una nuova immagine -->
{% if user.is_staff %}
<div class="menu-upload-form">
    <h3>Carica Nuovo Menù</h3>
<form method="post" enctype="multipart/form-data" action="{% url 'menu_upload' %}">
    {% csrf_token %}
    <label for="id_image" class="btn btn-primary">Seleziona Immagine del Menù</label>
    {{ form.image }}
    <input id="id_image" type="file" style="display: none;" onchange="document.getElementById('file-name').innerHTML = this.files[0].name">
    <span id="file-name" style="margin-left: 10px; margin-top:10px;"></span>
    <!-- Il campo description è nascosto e preimpostato -->
    {{ form.description }}
    <button type="submit" class="btn btn-primary" style="display:inline;">Carica Immagine</button>
</form>
</div>
{% endif %}
    

    <div class="carousel-container">
        <div class="slides-wrapper">
            <div class="carousel-image">
                <img src="{% static 'pages/images/Foto-29.jpg' %}" alt="Immagine 1">
            </div>
            <div class="carousel-image">
                <img src="{% static 'pages/images/Foto-7.jpg' %}" alt="Immagine 2">
            </div>
            <div class="carousel-image">
                <img src="{% static 'pages/images/Foto-13.jpg' %}" alt="Immagine 3">
            </div>
        </div>
        <!-- Bottoni di navigazione -->
        <a class="previous" onclick="prevSlide()">❮</a>
        <a class="next" onclick="nextSlide()">❯</a>
    </div>
       <!-- Assicurati che i "carousel-dot" siano definiti come segue: -->
<div class="carousel-indicators">
    <span class="carousel-dot" data-index="0"></span>
    <span class="carousel-dot" data-index="1"></span>
    <span class="carousel-dot" data-index="2"></span>
</div>

</div>

<!-- Sezione Contatti -->
<div class="content-container" id="contatti">
    <div class="contact-hours-container">
        <div class="contact-left">
            <h2>Contatti</h2>
            <div class="contact-info">
                <div class="contact-item"><a href="https://www.google.com/maps/dir//la+scarpetta+ristorante/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x132a576ed6ea0063:0xd99bac45d0ba484a?sa=X&ved=1t:3061&ictx=111" target="_blank">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Via del Ponte Sospeso, 7r, FI</p>
                </a>
                </div>
                <div class="contact-item"> <a href="tel:055 5121510">
                    <i class="fas fa-phone"></i>
                    <p>055 5121510</p>
                </a>
                </div>
                <div class="contact-item">
                    <i class="fab fa-instagram"></i>
                    <p><a href="https://instagram.com/lascarpettafirenze" target="_blank">@lascarpettafirenze</a></p>
                </div>
                <div class="contact-item">
                    <i class="fab fa-facebook"></i>
                    <p><a href="https://facebook.com/lascarpettafirenze" target="_blank">lascarpettafirenze</a></p>
                </div>
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <p><a href="mailto:lascarpettafirenze@gmail.com">lascarpettafirenze@gmail.com</a></p>
                </div>
                <div class="contact-item">
                    <i class="fab fa-whatsapp"></i>
                    <p><a href="https://wa.me/3755374459" target="_blank">Contattaci su WhatsApp</a></p>
                </div>
            </div>
        </div>

        <div class="hours-right">
            <h2>Orari di apertura</h2>
            <div class="opening-hours">
                <p><strong>Lunedì-Domenica:</strong> 12-15, 19-00</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11577.48292808035!2d11.2115738!3d43.7742329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a5aa11009a4f9%3A0x7b2045d5b4037df9!2sVia%20del%20Ponte%20Sospeso%2C%2050142%20Firenze%20FI%2C%20Italia!5e0!3m2!1sit!2sus!4v1647101325581!5m2!1sit!2sus" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<!-- Sezione Contatti Mobile -->
<div class="mobile-contact-section" id="contattiMobile">
    <h2>Contatti</h2>
    <ul class="contact-list">
        <li><i class="fas fa-map-marker-alt"></i><a href="https://www.google.com/maps/dir//la+scarpetta+ristorante/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x132a576ed6ea0063:0xd99bac45d0ba484a?sa=X&ved=1t:3061&ictx=111" target="_blank"> Via del Ponte Sospeso, 7r, 50142 Firenze FI</li> </a>
        <li><i class="fas fa-phone"></i><a href="tel:055 5121510"> 055 5121510</li></a>
        <li><i class="fas fa-envelope"></i> <a href="mailto:lascarpettafirenze@gmail.com">lascarpettafirenze@gmail.com</a></li>
        <li><i class="fab fa-instagram"></i> <a href="https://instagram.com/lascarpettafirenze" target="_blank">@lascarpettafirenze</a></li>
        <li><i class="fab fa-facebook"></i> <a href="https://facebook.com/lascarpettafirenze" target="_blank">lascarpettafirenze</a></li>
        <li><i class="fab fa-whatsapp"></i> <a href="https://wa.me/3755374459" target="_blank">Contattaci su WhatsApp</a></li>
    </ul>

    <h2>Orari di Apertura</h2>
    <ul class="opening-hours-list">
        <li><strong>Lunedì - Domenica:</strong> 12:00 - 15:00, 19:00 - 00:00</li>
    </ul>
</div>


    <div class="footer">
     
        <p>&copy; 2022 La Scarpetta - <a href="#">Privacy policy</a> - <a href="#">Cookie policy</a>  {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">- Esci come amministratore</a>
        {% endif %}   - Engineered by Tempora Innovation  
        
            
               
           
        </p>
    </div>


<script src="{% static 'pages/js/script.js' %}"></script>
<script src="{% static 'pages/js/CaruselScript.js' %}"></script>

<script src="{% static 'pages/js/NavigationDot.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navbar = document.querySelector('.navbar');
        const mobileMenu = document.getElementById('mobile-menu');
        const menuIcon = document.getElementById('menu-icon');
        
        // Funzione per regolare la posizione del menu mobile partendo da 10px
        function adjustMenuPosition() {
            const startingOffset = 10;  // Offset da 10px dall'alto della pagina
            mobileMenu.style.top = startingOffset + 'px';  // Imposta il top del menu mobile a 10px
        }
    
        // Aggiusta la posizione al caricamento della pagina
        adjustMenuPosition();
    
        // Mostra/nasconde il menu mobile con il click sull'icona del menu
        menuIcon.addEventListener('click', function () {
            mobileMenu.classList.toggle('active');
            this.classList.toggle('active');
    
            // Verifica se il menu è attivo per aggiustare la posizione
            if (mobileMenu.classList.contains('active')) {
                adjustMenuPosition();  // Imposta la posizione corretta quando il menu è visibile
            }
        });
    
        // Chiude il menu se clicchi fuori dall'area
        document.addEventListener('click', function (event) {
            if (!menuIcon.contains(event.target) && !mobileMenu.contains(event.target)) {
                mobileMenu.classList.remove('active');
                menuIcon.classList.remove('active');
            }
        });
    
        // Aggiunge l'evento di chiusura del menu al click su ogni voce del menu mobile
        document.querySelectorAll('#mobile-menu a').forEach(function(menuItem) {
            menuItem.addEventListener('click', function() {
                mobileMenu.classList.remove('active');
                menuIcon.classList.remove('active');
            });
        });
    });
</script>
{% endblock %}
