{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/Login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>La Scarpetta</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="submit" name="login_gestionale" class="btn btn-secondary">Accedi e vai al gestionale</button>
    </form>
</div>
{% endblock %}