{% extends "base.html" %}
{% load static %}

{% block title %}Menù - La Scarpetta{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'pages/Menu.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar">
    <div class="menu left">
        <a href="{% url 'starting_page' %}#container1-1">Chi Siamo</a>
        <a href="{% url 'menu' %}">Il Menù</a>
    </div>
    <div class="logo">
        <a href="{% url 'starting_page' %}"><img src="{% static 'pages/images/Logosvgcentrato(1).png' %}" alt="Logo La Scarpetta"></a>
    </div>
    <div class="menu right">
        <a href="{% url 'starting_page' %}#contatti">Contattaci</a>
        <a href="{% url 'starting_page' %}">Prenota Ora</a>
    </div>
    <!-- Icona del menu hamburger -->
    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Menu Mobile -->
    <div class="mobile-menu" id="mobile-menu">
        <a href="{% url 'starting_page' %}#container1-1">Chi Siamo</a>
        <a href="{% url 'menu' %}">Il Menù</a>
        <a href="{% url 'starting_page' %}#contattiMobile">Contattaci</a>
        <a href="{% url 'starting_page' %}">Prenota Ora</a>
    </div>
</nav>

<!-- Aggiungiamo il contenuto del menù sotto la navbar -->
<div class="container">
    <img src="{% static 'pages/images/MenùScarpetta.jpg' %}" alt="Menù La Scarpetta">
    <button class="upload-btn" onclick="document.getElementById('fileInput').click();">Carica Nuovo Menù</button>
    <input type="file" id="fileInput" />
</div>

{% endblock %}

{% block js_files %}
<script src="{% static 'js/script.js' %}"></script>
<script>
    const menuIcon = document.getElementById('menu-icon');
    const mobileMenu = document.getElementById('mobile-menu');
    const menuLinks = document.querySelectorAll('.mobile-menu a');

    // Toggle per aprire e chiudere il menu
    menuIcon.addEventListener('click', function() {
        menuIcon.classList.toggle('active');
        mobileMenu.classList.toggle('active');
    });

    // Chiudi il menu quando clicchi su un link del menu
    menuLinks.forEach(link => {
        link.addEventListener('click', function() {
            menuIcon.classList.remove('active');
            mobileMenu.classList.remove('active');
        });
    });
</script>
{% endblock %}